
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$grid-columns:                24;
$grid-gutter-width:           30px;

