
// Fonts
@import url("https://fonts.googleapis.com/css?family=Rajdhani|Lato:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-sweetalert/dist/sweetalert.css';

@import './front/_topbar';
@import './front/_quiz-page';
@import './front/_surveys-index';

@import './front/_sweetalert';

body{
	background: #fff;

	main{
		margin-top: 52px;
	}

	&.not-verified{
		.not-verified-bar{
			z-index:999;
			background:lighten($primary, 40%);
			height:30px;
			line-height:30px;
			position: fixed;
			width: 100%;
			left:0;
			top:0;
			color:lighten($primary, 15%);
			font-size: 13px;
			font-weight: bold;

			a{
				color:$primary;
			}
		}
		.topbar{
			top:30px;

		}
		main{
			margin-top: 30px;
		}			
	}

}


// FADES
.fade-left{
    -webkit-animation: fadeinLeft 600ms ease-in-out;
    -moz-animation: fadeinLeft 600ms ease-in-out;
        animation-duration: 600ms;
    -o-animation: fadeinLeft 600ms ease-in-out;
    -ms-animation: fadeinLeft 600ms ease-in-out;
    animation: fadeinLeft 600ms ease-in-out;
        animation-duration: 600ms;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}
@-webkit-keyframes fadeinLeft {
    0%{ 
    opacity: 0;
    -webkit-transform: translateX(20%);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes fadeinLeft {
    0%{ 
    opacity: 0;
    -moz-transform: translateX(20%);
  }
  100%{
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes fadeinLeft {
    0%{ 
    opacity: 0;
    transform: translateX(20%);
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}

.fade-right{
    -webkit-animation: fadeinRight 600ms ease-in-out;
    -moz-animation: fadeinRight 600ms ease-in-out;
        animation-duration: 600ms;
    -o-animation: fadeinRight 600ms ease-in-out;
    -ms-animation: fadeinRight 600ms ease-in-out;
    animation: fadeinRight 600ms ease-in-out;
        animation-duration: 600ms;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}
@-webkit-keyframes fadeinRight {
    0%{ 
    opacity: 0;
    -webkit-transform: translateX(-20%);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes fadeinRight {
    0%{ 
    opacity: 0;
    -moz-transform: translateX(-20%);
  }
  100%{
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes fadeinRight {
    0%{ 
    opacity: 0;
    transform: translateX(-20%);
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}

.fade-up{
    -webkit-animation: fadeinUp 600ms ease-in-out;
    -moz-animation: fadeinUp 600ms ease-in-out;
        animation-duration: 600ms;
    -o-animation: fadeinUp 600ms ease-in-out;
    -ms-animation: fadeinUp 600ms ease-in-out;
    animation: fadeinUp 600ms ease-in-out;
        animation-duration: 600ms;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}
@-webkit-keyframes fadeinUp {
    0%{ 
    opacity: 0;
    -webkit-transform: translateY(20%);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@-moz-keyframes fadeinUp {
    0%{ 
    opacity: 0;
    -moz-transform: translateY(20%);
  }
  100%{
    opacity: 1;
    -moz-transform: translateY(0%);
  }
}
@keyframes fadeinUp {
    0%{ 
    opacity: 0;
    transform: translateY(20%);
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}
// END FADES



// SPINNER

#spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  //width: 150px;
  //height: 150px;
  margin: -40px 0 0 -40px;
  border: 10px solid transparent;
  border-radius: 50%;
  border-top: 10px solid lighten($primary,10%);
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// END SPINNER

.main-title{
	text-transform: uppercase;
	font-size: 30px;
	margin-bottom:30px;
	font-weight: bold;
}


.title{
	text-transform: uppercase;
	font-size: 24px;
	margin-bottom:86px;
	font-weight: bold;
	position:relative;

	&::after{
		position:absolute;
		display:block;
		content:" ";
		width: 200px;
		left:calc(50% - 100px);
		height: 3px;
		background:$purple;
		top: 50px;
	}
}


.bg-grey{
	background: #eee;
}

.py-8{
	padding-top: 5.2rem;
	padding-bottom: 5.2rem;
}