
// Fonts
@import url("https://fonts.googleapis.com/css?family=Rajdhani|Lato:300,400,600");

// Variables
@import "../variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import './../front/topbar';


.errors{
    ul{
        list-style: none;
        padding:0;

        li{
            color:$danger;
        }
    }
}

//colors
$color_gothic_approx: rgb(104, 145, 162);
$color_camarone_approx: rgb(12, 97, 33);
$color_black_haze_approx: #f7f7f7;
$black_30: rgba(0, 0, 0, 0.3);
$color_cape_cod_approx: #404040;
$black_7_5: rgba(0,0,0,.075);

//@extend-elements
//original selectors
//body, html
%extend_1 {
    height: 100%;
    background-color: #eee;
}

//original selectors
//.form-signin #inputEmail, .form-signin #inputPassword
%extend_2 {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

//original selectors
//.form-signin input[type=email], .form-signin input[type=password], .form-signin input[type=text], .form-signin button
%extend_3 {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
}


body {
    @extend %extend_1;
    padding-top: 52px;
}

.btn {
    text-transform: uppercase;
    font-size: 14px;
    border: 0;
    padding: 12px 20px;
    border-radius:2px;
}
.card {
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.form-signin {
    
}
.card-container.card {
    max-width: 600px;
    padding: 40px;
    padding-top:30px;
}