.question-container{
	background: #f6f6f6;

	background-size: 100%;
	background-position: center;
	background-repeat:no-repeat;
	margin-bottom: 40px;

	.question-container-inner{
		padding: 60px 0;
		padding-top:100px;
		background: rgba(0,0,0,0.6);
		color:#fff;
	}
}

.social-share{
	.nav-item{
		a{
			padding: 12px 15px;
			color: white;
			width: 60px;
			height: 60px;
			text-align: center;
			font-size: 22px;
			margin: 0 10px;
			border-radius: 50%;

			&:hover{
				opacity: 0.8;
			}
		}
		&.facebook {
			a{
				background: #3B5998;	
			}
		}

		&.twitter {
			a{
		    	background: #55ACEE;
			}
		}
	}
}


.quiz-options-container{
	margin-bottom: 50px;
	.scenario{
		border-bottom:1px solid #e9e9e9;
		margin-bottom:40px;
		.scenario-title{

		}
		.quiz-option{
			padding-top: 30px;
			padding-bottom: 40px;
			.quiz-option-img-container{	
				position: relative;
				img{
					border: 2px solid #ddd;
					max-width: 70%;
					transition: all .2s ease-in-out;
				}

				.quiz-option-vote-button-container{
					position: absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					background: rgba($purple, 0.8);
					max-width: 70%;
					left: 15%;
					transition: all .2s ease-in-out;
					opacity:0;
					cursor: pointer;
					line-height:100%;
					vertical-align: bottom;
					
					.quiz-option-vote-button{
						position: absolute;
					  	top: 50%;
					  	left: 50%;
					  	transform: translate(-50%, -50%);
						color:#fff;
						font-size: 15px;
						text-transform: uppercase;
						font-weight: bolder;
						background:transparent;
						border:0;
						pointer-events:none;
					}
				}
			}

			.quiz-option-name{
				margin-top: 10px;
				font-size: 13px;
				font-weight: bold;
				text-transform: uppercase;
			}

			.quiz-option-brand{
				font-size: 11px;
				color:#999;
			}

			&:hover{
				.quiz-option-img-container{
					img{
						-ms-transform: scale(1.05); /* IE 9 */
					    -webkit-transform: scale(1.05); /* Safari */
					    transform: scale(1.05);

					    cursor:pointer;
					    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
					}

					.quiz-option-vote-button-container{
						-ms-transform: scale(1.05); /* IE 9 */
					    -webkit-transform: scale(1.05); /* Safari */
					    transform: scale(1.05);
					    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);

					    opacity: 1;
					}
				}
			}

			&.voted{
				.quiz-option-img-container{
					img{
						box-shadow: 0 0 0 5px rgba(0,230,0, 1);
					}
					.quiz-option-vote-button-container{
						display:none !important;
					}
				}
			}
		}
	}

	.btn-confirm{
		padding: 30px 60px;
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
	}
}

#results{
	position:relative;

	.scenario-selector{
		&.nav-tabs{
			.nav-item{
				a{
					text-transform: uppercase;
					font-weight: bold;
					font-size: 18px;
					margin:0 10px;
					color:#666;
					background:#ddd;
					padding: 15px 30px;

		    		-webkit-transition: all 0.3s; /* Safari */
		    		transition: all 0.3s;
					
					&.active{
						color:#fff;
						background:rgba(0,140,0,1);
					}
				}

			}
		}
	}
	.result-list{
	    .result-item{
	    	width:100%;
	    	display: inline-block;
	    	position: relative;
	    	padding: 8px;
	        .result-item-image{
	        	float:left;
	        	width: 80px;
	            img{
	            	width: 80%;
	            	border:2px solid #fff;
	            }
	        }
	        .result-item-right{
	        	width: calc(100% - 80px);
	        	position:relative;
	        	float:left;
	            
				.result-item-name{
	            	font-size:20px;
	            	font-weight: bold;
	            	margin-bottom: 5px;	
	            }

	            .result-item-bar{
	            	width: 100%;
	            	height:10px;
	            	background: #ddd;
	            	position:relative;

	            	-webkit-transition: width 1s; /* Safari */
    				transition: width 1s;

	            	.result-item-bar-votes{
		            	width: 100%;
		            	background: $success;
		            	position:absolute;
		            	top:0;
		            	left:0;
		            	height: 100%;
		            }
	            }
	            
	            .result-item-number{
	            	position: absolute;
	            	right: 0;
	            	top:0;
	            	font-size:23px;
	            	font-weight: bold;
	            }
	        }
	    }
	}

	&.scenario-selector-fixed{
		padding-top:60px;

		.scenario-selector{
			position: fixed;
		    top: 52px;
		    width: 100%;
		    left: 0;
		    background: #fff;
		    padding: 10px;
		    z-index:10;

		    -webkit-transition: all 0.3s; /* Safari */
	    	transition: all 0.3s;

	    	a.nav-link{
	    		padding: 8px 12px;
	    		font-size:14px;

	    		-webkit-transition: all 0.3s; /* Safari */
	    		transition: all 0.3s;
	    	}
		}
	}
}

@include media-breakpoint-down(xs) {
	.question-container{
		background-size: auto 100%;

		.question-container-inner{
			padding: 20px 0;
			padding-top:82px;
		}
	}
	.quiz-options-container{
		.scenario{
			margin-bottom:40px;
			.scenario-title{

			}
			margin-bottom: 20px;
			.quiz-option{
				padding-top: 20px;
				padding-bottom: 20px;
				margin-bottom: 20px;
				.quiz-option-img-container{	
					img{
						border-width:1px;
					}

					.quiz-option-vote-button-container{
						position: relative;
						height:40px;
						background: rgba($purple, 1);
						max-width: 70%;
						opacity:1;
						line-height:100%;
						vertical-align: bottom;
						
						.quiz-option-vote-button{
							position: absolute;
						  	top: 50%;
						  	left: 50%;
						  	transform: translate(-50%, -50%);
							color:#fff;
							font-size: 26px;
							text-transform: uppercase;
							font-weight: bolder;
							background:transparent;
							border:0;
							pointer-events:none;
						}
					}
				}

				.quiz-option-name{
					margin-top: 5px;
					font-size: 12px;
					font-weight: bold;
					text-transform: uppercase;
					min-height: 40px;
				}

				.quiz-option-brand{
					font-size: 11px;
					margin-bottom:5px;
				}

				.quiz-option-vote-button-container-xs{
					.quiz-option-vote-button-xs{
						font-size: 12px;
						text-transform: uppercase;
						font-weight: bolder;
						border:0;
						background: $purple;
						color:#fff;
					}
				}

				&:hover{
					.quiz-option-img-container{
						img{
							-ms-transform: scale(1.05); /* IE 9 */
						    -webkit-transform: scale(1.05); /* Safari */
						    transform: scale(1.05);

						    cursor:pointer;
						    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
						}

						.quiz-option-vote-button-container{
							-ms-transform: scale(1.05); /* IE 9 */
						    -webkit-transform: scale(1.05); /* Safari */
						    transform: scale(1.05);
						    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);

						    opacity: 1;
						}
					}
				}

				&.voted{
					background:rgba(0,200,0, 1);
					color:#fff;
					border-radius: 5px;
				}
			}
		}
	}


	#results{

		.scenario-selector{
			&.nav-tabs{
				.nav-item{
					a{
						font-size: 14px;
						margin:0 2px;
						padding: 6px 7px;

			    		-webkit-transition: all 0.3s; /* Safari */
			    		transition: all 0.3s;
					}
				}
			}
		}

		.result-list{
		    .result-item{
		    	width:100%;
		    	display: inline-block;
		    	position: relative;
		    	padding: 8px;
		        .result-item-image{
		        	float:left;
		        	width: 80px;
		            img{
		            	width: 80%;
		            	border:2px solid #fff;
		            }
		        }
		        .result-item-right{
		        	width: calc(100% - 80px);
		        	position:relative;
		        	float:left;
		            
					.result-item-name{
		            	font-size:20px;
		            	font-weight: bold;
		            	margin-bottom: 5px;	
		            }

		            .result-item-bar{
		            	width: 100%;
		            	height:10px;
		            	background: #ddd;
		            	position:relative;

		            	.result-item-bar-votes{
			            	width: 100%;
			            	background: $primary;
			            	position:absolute;
			            	top:0;
			            	left:0;
			            	height: 100%;
			            }
		            }
		            
		            .result-item-number{
		            	position: absolute;
		            	right: 0;
		            	top:0;
		            	font-size:23px;
		            	font-weight: bold;
		            }
		        }
		    }
		}

		&.scenario-selector-fixed{
			.scenario-selector{
				padding: 5px 0;
				&.nav-tabs{
					.nav-item{
						a{
							font-size: 12px;
							padding: 4px 7px;

				    		-webkit-transition: all 0.3s; /* Safari */
				    		transition: all 0.3s;
						}
					}
				}
			}
		}
	}
}
