.surveys-index{
	.survey{
		border:1px solid #ddd;
		margin-bottom:50px;
		>a{
			background: #eee;
			display:block;
			color:#333;
			padding:30px;

			&:hover{
				text-decoration:none;
				background: #f3f3f3;
			}
		}
		.survey-question{
			margin: 0 0 30px;
			text-transform: uppercase;
			font-weight: 500;
		}

		.survey-candidates-list{
			padding:0;
			list-style:none;
			
			li{
				display: inline-block;
				margin-right: 10px;
				img{
					width: 70px;
				}

				&:last-child{
					margin-right:0;
				}
			}
		}
	}
}


@include media-breakpoint-down(xs) {

	.surveys-index{
		.survey{
			margin-bottom:30px;
			>a{
				padding:10px;
				text-align:center;
			}
			.survey-question{
				font-size: 18px;
				font-weight: bold;
				margin: 0 0 15px;
			}

			.survey-candidates-list{
				
				li{
					margin: 8px;
					img{
						width: 50px;
					}
				}
			}
		}
	}
}