.sweet-alert{
	padding:30px;

	.sa-icon{
		margin-bottom:40px;

		&+h2{
			margin-bottom: 30px;

			&+p{
				margin-bottom: 30px;
			}
		}
	}

	.sa-button-container{
		button{
			margin: 0 10px;
		}
	}
}