.topbar{
	background:rgba(lighten($primary, 10%),1) !important;
	border:0;
	box-shadow: none;
	background: #fff;
	padding:2px 0;
	.navbar-brand{
		font-family:"Rajdhani", sans-serif;
		font-size:24px;
		font-weight: bolder;
		color:#fff;
		padding-left: 45px;
		position:relative;

		span{
		}

		&:before{
			display:block;
			background:#fff;
			content:" ";
			width: 26px;
			height:26px;
			border-radius: 4px;
			border: 4px solid $white;
			position:absolute;
			left:8px;
			top:11px;
		}

		&:after{
			display:block;
			content:" ";
			width: 36px;
			height:22px;
			border-radius: 0px;
			border: 6px solid transparent;
			border-bottom: 6px solid $green;
			border-left: 6px solid $green;
			position:absolute;
			left:4px;
			top:5px;
			box-shadow: -2px 2px 0px 0 lighten($primary, 10%);

			 -webkit-transform:rotate(-45deg);
		    -moz-transform:rotate(-45deg);
		    -o-transform:rotate(-45deg);
		    transform:rotate(-45deg);
		}
	}
	&.navbar-dark{
		.navbar-nav{
			.nav-link{
				color: rgba(255,255,255,0.9) !important;

				&.signup,
				&.signin,
				&.username{
					font-weight: bold;
					font-size:12px;
					text-transform:uppercase;
				}
			}
		}
	}
}