<template>
    <!-- Modal -->
      <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal-missing-info" tabindex="-1" role="dialog" aria-labelledby="modal-missing-infoLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-missing-infoLabel">Só falta isso...</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>As informações abaixo serão usadas para melhorarmos a precisão dos resultados.</p>
                <template v-if="errors.length > 0">
                    <div class="errors mt-3">
                        <b>Por favor, corrija os seguintes erros:</b>
                        <ul>
                            <li class="text-danger" v-for="error in errors">{{ error }}</li>
                        </ul>
                    </div>
                </template>
              <form method="POST" action="" class="form-signin" @submit="checkForm" novalidate="true">

                <p class="mt-4 mb-2"><b>Localização</b></p>
                <div class="form-group row">
                    <div class="col-md-24">
                        <select class="form-control form-control-lg" v-model="register.state" name="state" value="" required autofocus>
                            <option value="" disabled>Estado</option>
                            <option v-for="state in states" :value="state.id">{{state.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-24">
                        <select v-model="register.city" class="form-control form-control-lg" name="city" value="" required autofocus>
                            <option value="" disabled selected>Cidade</option>
                            <template v-for="city in cities.data">
                                <option v-if="register.state != ''" :value="city.id">{{city.name}}</option>
                            </template>
                        </select>
                    </div>
                </div>

                <p class="mt-4 mb-2"><b>Gênero</b></p>
                <div class="form-group row">
                    <div class="col-md-24">
                        <select v-model="register.gender" class="form-control form-control-lg" name="gender" value="" required autofocus>
                            <option value="" disabled selected>Gênero</option>
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                            <option value="O">Outro</option>
                        </select>
                    </div>
                </div>

                <p class="mt-4 mb-2"><b>Nascimento</b></p>
                <div class="form-group row">
                    <div class="col-7">
                        <select v-model="register.birth_day" class="form-control form-control-lg" name="birth_day" value="" required autofocus>
                            <option value="" disabled selected>Dia</option>
                            <option v-for="d in 31" :value="d<=9 ? '0' + d : d">{{(d<=9 ? '0' + d: d)}}</option>
                        </select>
                    </div>
                    <div class="col-7">
                        <select v-model="register.birth_month" class="form-control form-control-lg" name="birth_month" value="" required autofocus>
                            <option value="" disabled selected>Mês</option>
                            <option v-for="m in 12" :value="m<=9 ? '0' + m : m">{{m<=9 ? '0' + m: m}}</option>
                        </select>
                    </div>
                    <div class="col-10">
                        <select v-model="register.birth_year" class="form-control form-control-lg" name="birth_year" value="" required autofocus>
                            <option value="" disabled selected>Ano</option>
                                <option v-for="y in 100" :value="2004 - y">{{2004 - y}}</option>
                        </select>
                    </div>
                </div>
            </form><!-- /form -->
            </div>
            <div class="modal-footer">
              <a style="float: left; width: 100%;" target="_blank" href="/privacidade_e_termos" class="d-inline-block">
                  Termos de uso e privacidade
              </a>
              <button :disabled="saving" @click="saveMissingInfo()" type="button" class="btn btn-primary btn-lg float-right">
                  <span v-if="saving">Salvando...</span>
                  <span v-else>Salvar</span>
              </button>
            </div>
          </div>
        </div>
      </div>
</template>

<script>
    export default {
        data(){
            return {
                errors:[],
                cities:'',
                saving:false,
                register:{
                   password:'',
                   password_confirmation:'',
                   state:'',
                   city:'',
                   gender:'',
                   birth_day:'',
                   birth_month:'',
                   birth_year:''
                }
            }
        },
        mounted() {
            if(this.user){
                if(this.user.city_id){
                    setTimeout( () => {
                        this.$set(this.register,'city',this.user.city_id)
                    },100)
                }

                if(this.user.gender){
                    this.$set(this.register,'gender',this.user.gender)
                }

                if(this.user.state_id){
                    this.$set(this.register,'state',this.user.state_id)
                }

                if(this.user.birth){
                    var arr = this.user.birth.split('-')
                    var year = arr[0]
                    var month = arr[1]
                    var day = arr[2]
                    this.$set(this.register,'birth_day',day)
                    this.$set(this.register,'birth_month',month)
                    this.$set(this.register,'birth_year',year)
                }
            }
        },
        watch:{
            'register.state':'stateChanged',
        },
        computed:{
        },
        methods: {
            stateChanged(newVal){
                this.$set(this.register,'city','')
                this.$set(this,'cities',[])
                axios.get('/api/cities?state_id=' + newVal).then( (res) => {
                    this.$set(this, 'cities', res)
                })
            },
            fillMissingUserInfo(){
                axios.post('/api/user/missing-info', this.register).then( r => {
                    return window.location.href="/"
                })
            },
            saveMissingInfo(){
                this.$set(this,'saving',true)
                this.checkForm();
            },
            checkForm:function(e) {
                var r = this.register
                this.errors = []
                
                if(!r.state) this.errors.push("Selecione o estado.")
                if(!r.city) this.errors.push("Selecione a cidade.")

                if(!r.gender) this.errors.push("Selecione o gênero.")

                if(!r.birth_day || !r.birth_month || !r.birth_year) this.errors.push("Selecione o dia, mês e ano de nascimento.")
                
                if(!this.errors.length){
                    this.fillMissingUserInfo()
                }
                this.$set(this,'saving',false)
            },
        }
    }
</script>